body {
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #404040;
}

canvas {
  border: 1px solid black;
}

.ui {
  .movement {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.field-group {
  input {
    float: right;
  }

  label {
    float: left;
    margin-right: 10px;
  }
}